<div class="gm-field">
  <label class="gm-label" [for]="id">
    {{ label }}
    @if (required) { <span class="gm-required">*</span> }
  </label>
  <div class="gm-control-wrap">
    <p-password
      [id]="id"
      [formControl]="control"
      [placeholder]="placeholder"
      [feedback]="feedback"
      [toggleMask]="toggleMask"
      appendTo="body"
      (onInput)="onInput.emit($event)"
      styleClass="w-full"
      inputStyleClass="gm-input w-full"
    ></p-password>
    
    @if (control?.touched) {
      @if (control?.valid) {
        <i class="pi pi-check gm-status-icon gm-valid"></i>
      } @else if (control?.invalid) {
        <i class="pi pi-times gm-status-icon gm-invalid"></i>
      }
    }
  </div>
  @if (control?.touched && control?.invalid) {
    <span class="gm-error-msg">
      <i class="pi pi-exclamation-circle"></i> Campo inválido
    </span>
  }
</div>
