<app-form-field [id]="id" [label]="label" [icon]="icon" [required]="required" [control]="control">
  <p-select
    [id]="id"
    class="gm-select"
    [options]="options"
    [optionLabel]="optionLabel"
    [optionValue]="optionValue"
    [placeholder]="placeholder"
    [formControl]="control"
    [style]="{'width': '100%'}"
    [showClear]="!!control?.value"
    [panelStyleClass]="panelStyleClass"
    appendTo="body"
    [filter]="true"
    filterBy="label"
    (onChange)="onChange.emit($event)"
  ></p-select>
</app-form-field>
