<form (ngSubmit)="submit()" class="form-body">
    <div class="auth-field-wrap">
        <app-input
            id="reset-code"
            label="Código de verificación"
            type="text"
            placeholder="Código de 6 dígitos"
            icon="pi pi-lock"
            [required]="true"
            [control]="resetForm.controls.code"
        ></app-input>
    </div>

    <div class="auth-field-wrap">
        <app-password
            id="new-password"
            label="Nueva contraseña"
            placeholder="••••••••"
            [required]="true"
            [toggleMask]="true"
            [feedback]="true"
            [control]="resetForm.controls.newPassword"
        ></app-password>
    </div>

    <div class="auth-field-wrap">
        <app-password
            id="confirm-password"
            label="Confirmar contraseña"
            placeholder="••••••••"
            [required]="true"
            [toggleMask]="true"
            [feedback]="false"
            [control]="resetForm.controls.confirmNewPassword"
        ></app-password>
    </div>

    <app-submit-button [loading]="loading" label="Actualizar contraseña" loadingLabel="Actualizando..."></app-submit-button>

    <app-auth-bottom-link linkText="← Volver al inicio de sesión" mode="login" (onToggle)="toggleMode($event)"></app-auth-bottom-link>
</form>
