<div class="toolbar">
  <div class="toolbar-left">
    <div>
      <h2 class="toolbar-title">{{ title }}</h2>
      <p class="toolbar-sub">{{ subtitle }}</p>
    </div>
  </div>
  <div class="toolbar-right">
    <ng-content select="[toolbar-actions-start]"></ng-content>
    @if (showSearch) {
      <div class="search-box">
        <i class="pi pi-search search-ic"></i>
        <input
          pInputText
          type="text"
          (input)="search($event)"
          [placeholder]="searchPlaceholder"
          class="search-inp"
        />
      </div>
    }
    <ng-content select="[toolbar-actions]"></ng-content>
    @if (showAdd) {
      <app-button
        [label]="addLabel"
        icon="pi pi-plus"
        class="p-button-navy"
        (onClick)="onAdd.emit()"
      ></app-button>
    }
  </div>
</div>
