<app-crud-page
  [isTreeTable]="true"
  [treeNodes]="permissionNodes"
  [columns]="cols"
  [loading]="loading"
  [formFields]="formFields"
  [isSaving]="isSaving"
  [dragdrop]="true"
  title="Gestión de Permisos"
  subtitle="Estructura jerárquica de accesos, menús y acciones del ecosistema."
  addLabel="Nuevo Módulo Raíz"
  searchPlaceholder="Buscar slug o nombre..."
  formAddTitle="Crear Nuevo Permiso"
  formEditTitle="Modificar Permiso"
  deleteTitle="Eliminar Permiso"
  [showLegend]="true"
  (onAddRoot)="setRootAdd()"
  (onAddChild)="setChildAdd($event)"
  (onSave)="handleSave($event)"
  (onConfirmDelete)="handleDelete($event)"
  (onFilter)="filterTree($event)"
  (onFilterType)="filterByType($event)"
  (onNodeReorder)="handleNodeReorder($event)"
></app-crud-page>