<app-crud-page
  [isTreeTable]="true"
  [treeNodes]="crud.items()"
  [columns]="cols"
  [loading]="crud.loading()"
  [formFields]="formFields"
  [isSaving]="crud.isSaving()"
  [dragdrop]="true"
  [resourceName]="'Permiso'"
  title="Gestión de Permisos"
  subtitle="Estructura jerárquica de accesos, menús y acciones del ecosistema."
  addLabel="Nuevo Módulo Raíz"
  searchPlaceholder="Buscar slug o nombre..."
  [showLegend]="true"
  (onAddRoot)="crud.handleAdd()"
  (onAddChild)="crud.handleAddChild($event)"
  (onEdit)="crud.handleEdit($event)"
  (onSave)="crud.save($event)"
  (onConfirmDelete)="crud.confirmDelete($event)"
  (onFilterType)="filterByType($event)"
  (onNodeReorder)="handleNodeReorder($event)"
></app-crud-page>