<form (ngSubmit)="submit()" class="form-body">
    <div class="auth-field-wrap" style="margin-bottom: 24px;">
        <app-input
            id="reset-email"
            label="Tu correo electrónico"
            type="email"
            placeholder="tu@email.com"
            icon="pi pi-at"
            [required]="true"
            [control]="emailControl"
        ></app-input>
    </div>

    <app-submit-button [loading]="loading" label="Enviar enlace de recuperación" loadingLabel="Enviando..."></app-submit-button>

    <app-auth-bottom-link linkText="← Volver al inicio de sesión" mode="login" (onToggle)="toggleMode($event)"></app-auth-bottom-link>
</form>
