<app-crud-page permission="securex.notifications.smtp" title="Configuraciones SMTP"
  subtitle="Parámetros para envío de correos electrónicos" [data]="items" [columns]="cols" [loading]="loading"
  [lazy]="true" [totalRecords]="totalRecords" [isSaving]="isSaving" [formFields]="formFields"
  formAddTitle="Nueva Configuración SMTP" formEditTitle="Editar Configuración SMTP" deleteTitle="Eliminar Configuración"
  deleteMessage="¿Estás seguro de eliminar esta configuración?" (onLazyLoad)="load($event)"
  (onSave)="save($event.data, $event.mode)" (onConfirmDelete)="confirmDelete()" (onRefresh)="load()"
  (onAdd)="handleAdd()" (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)"></app-crud-page>