<app-crud-page
  title="Roles de Empresa"
  subtitle="Define y gestiona los roles disponibles para tu organización"
  [data]="roles"
  [columns]="cols"
  [loading]="loading"
  [isSaving]="isSaving"
  [showAdd]="true"
  [showEdit]="true"
  [showDelete]="true"
  [showPermissions]="true"
  [formFields]="formFields"
  formAddTitle="Nuevo Rol"
  formEditTitle="Editar Rol"
  deleteTitle="Eliminar Rol"
  (onPermissions)="handleManagePermissions($event)"
  (onSave)="save($event)"
  (onConfirmDelete)="confirmDelete($event)"
  (onRefresh)="load()"
>
  <ng-container extra-modals>
    <app-role-permissions-modal
      [visible]="permModalVisible"
      [roleId]="selectedItem?.id"
      [roleName]="selectedItem?.name"
      [loading]="isSaving"
      (onSave)="syncPermissions($event)"
      (onClose)="permModalVisible = false">
    </app-role-permissions-modal>
  </ng-container>
</app-crud-page>
