<app-crud-page
  permission="securex.security.apps"
  title="Aplicaciones"
  subtitle="Catálogo de aplicaciones del ecosistema"
  addLabel="Nueva"
  [data]="data"
  [columns]="cols"
  [loading]="loading"
  [isSaving]="isSaving"
  [formFields]="formFields"
  formAddTitle="Nueva Aplicación"
  formEditTitle="Editar Aplicación"
  deleteTitle="Eliminar Aplicación"
  deleteMessage="¿Estás seguro de eliminar esta aplicación?"
  [mapItemForEdit]="mapItemForEdit"
  (onSave)="onSave($event)"
  (onConfirmDelete)="onConfirmDelete($event)"
  (onRefresh)="load()"
></app-crud-page>
