<app-crud-page
  title="Roles de Empresa"
  subtitle="Define y gestiona los roles disponibles para tu organización"
  [resourceName]="crud.resourceName()"
  [data]="crud.items()"
  [columns]="cols"
  [loading]="crud.loading()"
  [isSaving]="crud.isSaving()"
  [showAdd]="true"
  [showEdit]="true"
  [showDelete]="true"
  [showPermissions]="true"
  [formFields]="formFields"
  (onPermissions)="handleManagePermissions($event)"
  (onSave)="crud.save($event)"
  (onConfirmDelete)="crud.confirmDelete($event)"
  (onRefresh)="crud.load()"
>
  <ng-container extra-modals>
    <app-role-permissions-modal
      [visible]="permModalVisible"
      [roleId]="selectedRole?.uuid"
      [roleName]="selectedRole?.name || ''"
      [loading]="isSaving"
      (onSave)="syncPermissions($event)"
      (onClose)="permModalVisible = false">
    </app-role-permissions-modal>
  </ng-container>
</app-crud-page>
